# Hugo default output directory
/public

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
.idea

updateIdx/.env.local
updateIdx/.env.prod
/updateIdx/node_modules/*
test/*
!test/.gitignore
tmp/*
!tmp/.gitignore