{{ partial "head.html" . }}
<div class="col-md-9">
    <div class="well well-sm">
        <h1>{{ .Title | upper }}</h1>
        <ul class="list-unstyled">
            {{ range .Data.Pages }}
            <li>
                <h5>
                    <a class="underline" href="{{ .Permalink }}">{{ .Title}}</a>
                </h5>
            </li>
            {{ end}}
        </ul>
    </div>
</div>

<div class="right-sidebar">
    {{ partial "tags_list.html" . }}
</div>

{{ partial "bottom.html" . }}
