* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

/*put footer to down*/
.wrapper {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    background: #F5F7FA;
    font: 14px/20px Arial, sans-serif;
}

.content {
    padding-bottom: 90px;
}

.holder {
    margin: 0 auto;
    width: 1000px;
}
.nav-block{
    padding: 17px 0 3px;
}
h1 {
    padding: 40px 20px 30px;
    font: 26px/1.3 Arial, sans-serif;
    text-align: center;
}

p {
    padding: 10px 20px;
}

a {
    color: #3498DB;
}

ul li {
    list-style: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

.clear {
    clear: both;
}

.fl-left {
    float: left;
}

.footer-item {
    margin: 20px;
}

.fl-right {
    float: right;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.border {
    height: 2px;
    background: black;
}
