<div class="nav-block">
    <ul class="nav">
        <li>
            <a class="localized" data-category="go" href="{{ .Site.BaseURL }}categories/golang/">Go</a>
            <a class="localized" data-category="php" href="{{ .Site.BaseURL }}categories/php/">PHP</a>
            <a class="localized" data-category="algorithms" href="{{ .Site.BaseURL }}categories/algorithms/">Algorithms</a>
            <a class="localized" data-category="js" href="{{ .Site.BaseURL }}categories/js/">JS</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>