{{ partial "head.html" . }}
<div class="relative">
    <div class="col-md-9">
        <div class="well well-sm">
            <h1>{{ .Title | upper }}</h1>
            <ul class="taxonomy-list">
                {{ range .Data.Pages }}
                <li>
                    <a class="underline" href="{{ .Permalink }}"><h5>{{ .Title }}</h5></a>
                    <small class="posted-on">Posted on {{ .PublishDate.Format "January 2, 2006" }}</small><br>
                    <small class="posted-on">Updated on {{ .Lastmod.Format "January 2, 2006" }}</small>
                    <hr>
                </li>
                {{ end}}
            </ul>
        </div>
    </div>

    <div class="right-sidebar">
        {{ partial "tags_list.html" . }}
        <hr>
        {{ partial "categories_list.html" . }}
    </div>

</div>
{{ partial "bottom.html" . }}
